/* Start Variables */
*:root {
    --main-color: #03A9F4;
}
/* End Variables */

/* Start Box */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: "Space_Grotesk", sans-serif;
    overflow-x: hidden;
    height: 0;
    background-color: #F2F2F2;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Box */

/* Start Header */
.header {
    padding: 20px 0;
} 
.header .head .right a:hover {
    color: var(--main-color);
}
.header .head .right ul li:nth-of-type(5) a {
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    padding: 10px 20px;
    color: white;
    box-shadow: 0 2px 4px 0px #03A9F4;
}
.header .head .right ul li:last-of-type a {
    background-color: #EAEAEA;
    padding: 5px;
}
@media(min-width: 995px) {
    .header .head .right > i {
        display: none;
    }
}
@media(max-width: 994px) {
    .header .head .right > i {
        display: block;
        cursor: pointer;
        margin-right: 6px;
    }
    .header .head .right ul {
        display: none;
    }
    .header .head .right:hover::before {
        content: "";
        position: absolute;
        border: 15px solid;
        border-color: transparent transparent var(--main-color) transparent;
        right: 0;
    }
    .header .head .right:hover > ul {
        display: flex;
        position: absolute;
        left: 0;
        flex-direction: column;
        gap: 25px;
        top: 45px;
        background-color: var(--main-color);
        width: 100%;
        padding: 20px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
    }    
}
/* End Header */

/* Start Landing */
.landing-section button {
    padding: 10px 20px;
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    color: white;
    box-shadow: 0 2px 4px 0px #03A9F4;
    border: none;
    cursor: pointer;
}
.landing-section h2 {
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    background-clip: text;
    color: transparent;
}
@media(max-width: 767px) {
    .landing-section .landing h2 {
        font-size: 25px;
    }
    .landing-section .landing p {
        font-size: 14px;
    }
}
/* End Landing */

/* Start Conponents */
.toggle-switch {
    width: 61px;
    height: 32px;
    position: relative;
    display: block;
    cursor: pointer;
    background-color: white;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.toggle-switch::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 3px;
    background-color: var(--main-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: none;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: #192126;
}
.toggle-checkbox:checked + .toggle-switch::after {
    left: 31px;
}
.toggle-switch img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.toggle-switch img.sun {
    left: 1px;
    z-index: 100;
}
.toggle-switch img.moon {
    right: 1px;
    z-index: 100;
}
.toggle-switch img.moon {
    width: 28px;
    height: 28px;
    background-color: #F2F2F2;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.toggle-switch img.sun {
    width: 28px;
    height: 28px;
    background-color: #f2f2f27a;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.toggle-checkbox:checked + .toggle-switch img {
    background-color: unset;
}
/* End Conponents */