/* Start Variables */
*:root {
    --main-color: #03A9F4;
}
/* End Variables */

/* Start Box */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
    height: 0;
    background-color: #F2F2F2;
}
a {
    text-decoration: none;
}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* Small Screens */
@media(min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* Medium Screens */
@media(min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* Large Screens */
@media(min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
/* End Box */

/* Start Header */
.header {
    padding: 20px 0;
} 
.header .head .left .title  h1 {
    font-weight: 600;
}
.header .head .right ul li:not(:nth-of-type(5)) a:hover {
    color: var(--main-color);
}
.header .head .right ul li:nth-of-type(5) a {
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    padding: 10px 20px;
    box-shadow: 0 2px 4px 0px #03A9F4;
}
.header .head .right ul li:last-of-type a {
    background-color: #EAEAEA;
    padding: 5px;
}
@media(min-width: 995px) {
    .header .head .right > i {
        display: none;
    }
}
@media(max-width: 994px) {
    .header .head .right > i {
        display: block;
        cursor: pointer;
        margin-right: 6px;
    }
    .header .head .right ul {
        display: none;
    }
    .header .head .right:hover::before {
        content: "";
        position: absolute;
        border: 15px solid;
        border-color: transparent transparent var(--main-color) transparent;
        right: 0;
    }
    .header .head .right:hover > ul {
        display: flex;
        position: absolute;
        left: 0;
        flex-direction: column;
        gap: 25px;
        top: 45px;
        background-color: var(--main-color);
        width: 100%;
        padding: 20px;
        border-bottom-right-radius: 6px;
        border-bottom-left-radius: 6px;
        z-index: 200;
    }    
    .header .head .right ul li:not(:nth-of-type(5)) a:hover {
        color: white;
    }
}
/* End Header */

/* Start Landing */
.landing-section h2 {
    background-clip: text;
}
@media(max-width: 767px) {
    .landing-section .landing h2 {
        font-size: 25px;
    }
    .landing-section .landing p {
        font-size: 14px;
    }
}
/* End Landing */

/* Start Product Section */
.product-section {
    padding: 100px 0;
}
.product-section .product-info ul li {
    padding: 10px 21px;
}
.product-section .product-info .top ul li:not(.not):hover,
.product-section .product-info .top ul li:not(.not):hover {
    background-color: var(--main-color);
}
.product-section .product-info .bottom pre {
    top: -16px;
}
.product-section::before {
    content: "";
    position: absolute;
    width: 350px;
    height: 350px;
    background-color: #03a9f46e;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0 0 269px 0px var(--main-color);
    z-index: -1;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
/* End Product Section */

/* Start Netflix Overview */
.netflix-overview {
    padding: 40px 0;
}
.netflix-overview .netflix-images {
    overflow: auto;
    height: 95px;
}
.netflix-overview .netflix-images img {
    animation-name: up-down;
    animation-duration: 0.8s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.netflix-overview .netflix-images img:nth-of-type(2) {
    animation-delay: 0.15s;
}
.netflix-overview .netflix-images img:nth-of-type(3) {
    animation-delay: 0.20s;
}
.netflix-overview .netflix-images img:nth-of-type(4) {
    animation-delay: 0.25s;
}
.netflix-overview .netflix-images img:nth-of-type(5) {
    animation-delay: 0.30s;
}
.netflix-overview .netflix-images img:nth-of-type(6) {
    animation-delay: 0.35s;
}
/* End Netflix Overview */

/* Start Stateistics Overview */
.statistics-overview {
    padding: 40px 0;
}
.statistics-overview .state-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    top: -20px;
}
@media(max-width: 650px) {
    .statistics-overview .states {
        gap: 35px;
        text-align: center;
        flex-direction: column;
    }
    .statistics-overview .states .state-card::before {
        left: 0;
    }
}
/* End Statestics Overview */

/* Start key-features */
.key-features {
    padding: 40px 0;
}
.key-features .bottom {
    grid-template-columns: repeat(auto-fill, minmax(550px, 1fr));
    margin-top: 40px;
}
.key-features .bottom .card h2 {
    font-size: 35px;
    background-clip: text;
}
@media(max-width: 767px) {
    .key-features .bottom {
        display: flex;
        flex-wrap: wrap;
    }
    .key-features .bottom .card h2 {
        font-size: 25px;
    }
}
/* End key-features */

/* Start Features */
.features {
    padding: 40px 0;
}
@media(max-width: 767px) {
    .features .feature-state h2 {
        font-size: 25px;
    }
    .features .feature-state h1 {
        font-size: 30px;
    }
}
@media(max-width: 1000px) {
    .features .feature-img {
        overflow: hidden;
    }
    .features .feature-img img {
        width: unset;
    }
}
/* End Features */

/* Start Search Section */
.search-section {
    padding: 40px 0;
}
.search-section .search .top {
    padding: 3px 2px;
    gap: 3px;
}
.search-section .search .top .button-click.active {
    background-color: white;
}
.search-section .search .top .button-click {
    background-color: #F3F3F3;
}
.search-section .search .top .button-click:not(.active):hover {
    background-color: var(--main-color);
}
.search-section .search .bottom .search-box {
    background-color: #dadada69;
    height: 400px;
    border: 2px solid #a8a7a7;
    border-style: dashed;
}
.search-section .search .search-box > div span {
    background-color: #F2F2F2;
    padding: 6px;
    width: 50px;
    text-align: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}
.search-section .search .search-box::before {
    content: "";
    position: absolute;
    width: 480px;
    height: 320px;
    background-color: #A4E3FF80;
    left: 50%;
    top: 50%;
    border-radius: 50%;
    box-shadow: 0px 0 57px 44px #A4E3FF80;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.search-section .search .bottom .content {
    height: 400px;
    min-width: 400px;
    justify-content: center;
    justify-self: center;
}
.search-section .search .bottom .content input {
    padding: 12px 15px;
    background-color: #242B2E;
    color: #FFFFFF80;
}
.search-section .search .bottom .content input:focus {
    outline: none;
}
.search-section .search .bottom .content {
    display: none;
    animation: moving 0.5s ease;
    -webkit-animation: moving 0.5s ease;
}
.search-section .search .bottom .content.active {
    display: flex;
}
@media(max-width: 767px) {
    .search-section .search .bottom .content {
        min-width: 100%;
    }
}
/* End Search Section */

/* Start Setup Section */
.setup-section {
    padding: 40px 0;
}
.setup-section .setup-menu {
    padding: 40px 30px;
}
.setup-section .setup-menu .setup {
    justify-content: center;
}
.setup-section .setup-menu .setup span {
    background-color: #F2F2F2;
    padding: 8px 15px;
}
.setup-section .setup-menu .setup h2 {
    font-weight: 700;
}
.setup-section .setup-menu::after,
.setup-section .setup-menu::before {
    content: "";
    position: absolute;
    width: 115px;
    height: 1px;
    background-color: #cecdcd;
}
.setup-section .setup-menu::after {
    right: 25%;
}
.setup-section .setup-menu::before {
    left: 30%;
}
.setup-section .sircle::after {
    content: "";
    position: absolute;
    width: 715px;
    height: 221px;
    background-color: #03a9f442;
    top: 81%;
    left: 50%;
    z-index: -1;
    box-shadow: 0 0 59px 31px #03a9f454;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
@media(max-width: 767px) {
    .setup-section .setup-menu {
        flex-direction: column;
        gap: 35px;
    }
    .setup-section .setup-menu::before,
    .setup-section .setup-menu::after {
        display: none;
    }
    .setup-section .setup-menu .setup {
        width: 100%;
    }
    .setup-section .setup-menu .setup:not(:last-of-type)::after {
        content: "";
        position: absolute;
        height: 1px;
        background-color: #cecdcd;
        left: 50%;
        bottom: -16px;
        width: 100%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    .setup-section .setup-menu .setup h2 {
        text-align: center;
    }
    .setup-section .sircle::after {
        width: 200px;
    }
}
/* End Setup Section */

/* Start Prices Section */
.prices-section {
    padding: 150px 0 40px;
}
.prices-section .price-methods .top {
    gap: 130px;
}
.prices-section .price-methods .top .models .model-card {
    align-items: flex-start;
}
.prices-section .price-methods .top .models .model-card:first-of-type input[type="button"] {
    border: 1px solid white;
    color: #E3E3E4;
}
.prices-section .price-methods .top .models .model-card:last-of-type input[type="button"]  {
    border-image: linear-gradient(to right, #03A6F2, #1877D3) 1;
    cursor: pointer;
}
.prices-section .bottom table thead td i.x-mark {
    opacity: 0;
}
.prices-section .bottom table thead tr:not(:last-of-type) {
    border-right: 1px solid #f2f2f2;
}
.prices-section .bottom .footer {
    margin-left: 245px;
}
.prices-section .bottom .footer .box-fot form input {
    padding: 8px 10px;
    color: #4B565B;
    border: 1px solid white;
}
.prices-section .bottom .footer .box-fot form input:focus {
    outline: none;
}
.prices-section .bottom .footer .box-fot .state-line {
    height: 2px;
}
.prices-section .bottom .footer .box-fot .state-line::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--main-color);
    border-radius: 50%;
    top: 50%;
    right: 0;
    box-shadow: 0 0 10px 0px var(--main-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
.prices-section .bottom .footer .box-fot h3 {
    color: #192126;
}
@media(max-width: 1000px) {
    .prices-section .bottom table thead tr {
        width: 25vh;
    }
    .prices-section .bottom table tbody tr {
        width: 22vh;
    }
    .prices-section .bottom table {
        overflow-x: auto;
    }
    .prices-section .bottom .footer {
        margin-left: unset;
    }
}
@media(max-width: 767px) {
    .prices-section .price-methods .top {
        flex-direction: column;
        gap: 35px;
        height: 201px;
    }
    .prices-section .price-methods .top .models {
        gap: 25px;
        overflow: auto;
        padding: 0px 20px;
    }
    .prices-section .bottom .footer {
        flex-direction: column;
    }
}
/* End Prices Section */

/* Start CTA Section */
.cta-section {
    padding: 40px 0;
}
.cta-section .cta-api {
    background-image: linear-gradient(45deg, #03A6F2, #1877D3);
    padding: 85px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0 0 7px 3px var(--main-color);
    overflow: hidden;
    border-image: linear-gradient(to right, #03A6F2, #1877D3) 1;
}
.cta-section .cta-api .images img {
    left: 0;
    top: 0;
}
.cta-section .cta-api h2,
.cta-section .cta-api i {
    z-index: 100;
}
@media(max-width: 767px) {
    .cta-section .cta-api h2,
    .cta-section .cta-api i {
        font-size: 20px;
    }
    .cta-section .cta-api {
        flex-direction: column;
        padding: 65px 0;
    }
}
/* End CTA Section*/

/* Start Contact Us Section */
.contact-us {
    padding: 40px 0;
}
.contact-us .contacts .left h2 {
    background-clip: text;
}
.contact-us .contacts .left p {
    color: #192126;
}
.contact-us .contacts {
    gap: 75px;
}
.contact-us .contacts .right form .form-input {
    gap: 6px;
}
.contact-us .contacts .right form .form-input input {
    padding: 12px 15px;
    color: #4B565B;
}
.contact-us .contacts .right form .form-input textarea {
    padding: 8px 15px;
    resize: none;
    height: 250px;
    color: #4B565B;
}
.contact-us .contacts .right form .form-input textarea:focus,
.contact-us .contacts .right form .form-input input:focus {
    outline: none;
}
@media(max-width: 767px) {
    .contact-us .contacts {
        flex-direction: column;
        gap: 20px;
    }
    .contact-us .contacts .left h2 {
        font-size: 30px;
    }
    .contact-us .contacts .left p {
        font-size: 14px;
    }
}
/* End Contact Us Section */

/* Start Footer */
.footer {
    padding: 40px 0;
}
.footer .footer-info .left .title {
    margin-bottom: 5px;
}
.footer .footer-info .left .title  h1 {
    font-weight: 600;
}
.footer .footer-info .middle {
    gap: 50px;
}
.footer .footer-info .middle ul li a {
    color: #192126;
}
.footer .footer-info .middle ul li a:hover {
    color: var(--main-color);
}
@media(max-width: 990px) {
    .footer .footer-info {
        flex-direction: column;
        gap: 30px;
    }
    .footer .footer-info .middle {
        justify-content: space-between;
    }
}
@media(max-width: 550px) {
    .footer .footer-info .middle {
        flex-direction: column;
        gap: 20px;
    }
    .footer .footer-info .middle .links:not(:last-of-type)::after {
        content: "";
        width: 100%;
        height: 1px;
        background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    }
    .footer .footer-info .middle .links:first-of-type::before {
        content: "";
        width: 100%;
        height: 1px;
        background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    }
}
/* End Footer */

/* Start Conponents */
.toggle-switch {
    width: 61px;
    height: 32px;
    cursor: pointer;
}
.toggle-switch::after {
    content: "";
    width: 28px;
    height: 28px;
    position: absolute;
    top: 50%;
    left: 3px;
    background-color: var(--main-color);
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}
.toggle-checkbox {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    display: none;
}
.toggle-checkbox:checked + .toggle-switch {
    background-color: #192126;
}
.toggle-checkbox:checked + .toggle-switch::after {
    left: 31px;
}
.toggle-switch img.sun {
    left: 1px;
    z-index: 100;
}
.toggle-switch img.moon {
    right: 1px;
    z-index: 100;
}
.toggle-switch img.moon {
    width: 28px;
    height: 28px;
    background-color: #F2F2F2;
}
.toggle-switch img.sun {
    width: 28px;
    height: 28px;
    background-color: #f2f2f27a;
}
.toggle-checkbox:checked + .toggle-switch img {
    background-color: unset;
}
.box {
    border: 1px solid white;
    padding: 8px 15px;
}
.box::before {
    content: "";
    position: absolute;
    width: 35px;
    height: 35px;
    background-color: #03a9f445;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    z-index: -1;
    box-shadow: 0 0 60px 0 var(--main-color);
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}
.box span::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    background-image: linear-gradient(45deg, #1976D2, #03A9F4);
    box-shadow: 0 0 3px 0px var(--main-color);
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}
/* End Conponents */

/* Start Animaitons */
@keyframes up-down {
    0% {
        transform: translateY(25px);
        -webkit-transform: translateY(25px);
        -moz-transform: translateY(25px);
        -ms-transform: translateY(25px);
        -o-transform: translateY(25px);
    }
}
@keyframes moving {
    0% {
        transform: translateX(50px);
        -webkit-transform: translateX(50px);
        -moz-transform: translateX(50px);
        -ms-transform: translateX(50px);
        -o-transform: translateX(50px);
        opacity: 0;
}    
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
        opacity: 1;
    }
}
/* End Animaitons */